.statusbar{
  padding: 2px;
  height: 4px;
  display: flex;
  gap: 2px;
}

.statusbar__item{
  height: 100%;
  width: 100%;
  background-color: grey;
  border-radius: 4px;

  &--short{
    background-color: red;
  }

  &--easy{
    background-color: red;
  }

  &--medium{
    background-color: yellow;
  }

  &--strong{
    background-color: green;
  }
}
